{
  "extends": ["airbnb-typescript/base"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/semi": ["error", "never"],
    "class-methods-use-this": "off",
    "no-param-reassign": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
